*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
header{
    height: 500px;
    background-image: url(img/jumbo.png);
    background-size: cover;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.menu{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: white;
    position: relative;
    font-weight: 500;
}
.menu div{
    float: left;
}
.navigation-side{
    width: 20%;
}
.navigation-list{
    width: 60%;
    text-align: center;
}

.navigation-list li, a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
    display: inline-block;

}
.button{
    background-color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    color: black;
    font-weight: 500;
    
}
.login{
    position: absolute;
    top: 0;
    right: 0%;
    font-size: 12px;
}

/* jumbotron */
#jumbotron{
    height: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 100px;
}
.text{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
p{
    font-weight: 500;
    margin-bottom: 20px;
    text-align:center ;
}
/* .buttons{
    width: 80%;
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);


} */
.download{
    margin-left: 20%;
}
.download-arrow{
    height: 17px;
    margin-right: 4px;
}

.open{
    margin-left: 5%;
    background-color: #23272a;
    color: white;
}
/* main */
